<?xml version="1.0" encoding="utf-8"?>
<appSettings >
    <add key="consumerkey" value="kz1M7cZvUhJGFrtUbEn03XZmi" />
    <add key="consumersecret" value="Gw2IAyoiD3eeKCvXHndEXXDc8yZj0djnwGZc93kByxzExEwS0h" />
    <add key="accesstoken" value="779023875724177408-RAWIrx5eRLMNBvg9aTS7rfrpGaVN0NH" />
    <add key="accesssecret" value="HPiP7q1czT2v5EsETWGSgakAeXyPxSJdQPJOR6dC2mf2g" />
</appSettings>
